{% extends "news/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row" style="padding-top:20px">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Zaloguj się</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Zaloguj się</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Nie masz konta? Zarejestruj się <a class="ml-2" href="{% url 'register' %}">tutaj</a>
                </small>
            </div>
        </div>
    </div>
{% endblock content %}