{% extends "news/base.html" %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
                <div class="col-md-4">
                    <div class="content-section">
                        <h3>Menu</h3>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-dark">Wypożyczone</li>
                            <li class="list-group-item list-group-item-dark">Stan Konta</li>
                            <li class="list-group-item list-group-item-dark">Ustawienia</li>
                        </ul>
                    </div>
                </div>

            {% endblock %}
        </div>
    </div>
</main>
